/*
Colors used:
Dark Green: #4f999c
Light Green: #52c4b9;
Blue: #587ca6;
dark grey: #3B3E3E;
light grey: #f5fafa;
*/
* {
  box-sizing:border-box;
}

body {
  background-color: #FFFFFF;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #3B3E3E;
}

h1, h2, h3 {
  line-height: 1.4;
}

h1 {
  font-size: 2.0em;
  font-weight: 700;
  color: #4f999c;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
  color: #52c4b9;
}

h3 {
  font-size: 1.1em;
  font-weight: 500;
  color: #587ca6;
}

img {
  width: 100%;
}

header {
  background-color: #FFFFFF;
  padding: 10px 0;
  text-align: center;
  border-bottom: 3px solid #52c4b9;
  position: fixed;
  width: 100%;
  box-shadow: 6px 6px 10px 0px rgba(50, 50, 50, 0.25);
}

footer {
  padding: 10px;
  margin-top: 20px;
  background-color: #4f999c;
  color: #FFFFFF;
  text-align: center;
}

footer h2 {
  color: #ffffff;
}

.copyright {
  font-size: 12px;
}

a {
  color: #4f999c;
}

a:visited {
  /* visited link */
  color: #4f999c;
}

a:hover,
a:focus {
  color: #587ca6;
  font-weight: 500;
}

a:active {
  /* selected link */
  color: #587ca6;
}

nav a {
  text-decoration: none;
  padding: 0 10px;
  margin: 0 3px;
}

nav a.active {
  font-weight: 500;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
}

transition: [transition-property] [transition-duration] [transition-timing-function] [transition-delay];

.button {
  display: inline-block;
  background-color: #4f999c;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 500;
  padding: 10px 30px;
  border-radius: 30px;
  border-bottom: 2px solid #4f999c;
  /* width of the border, type, color */
  transition: 0.5s opacity;
  text-decoration: none;
}

.button:visited {
  color: #ffffff;
  text-decoration: none;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
}

.button.social {
  background-color: transparent;
  border: none
}

.button.contact {
  background-color: white;
  color: #4f999c;
  border: none;
  text-transform: uppercase;
}

.button.contact:hover {
  background-color: #4f999c;
  color: #ffffff;
}

/*Layout Styling*/
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #52c4b9;
}

#work {
  text-align: center;
}

#about .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #52c4b9;

}

#about h1 {
  text-align: center
}

#about h2 {
  text-align: center;
}

#about .button {
  text-align: center;
}

#hero h1 {
  text-align: center;
}

#hero {
  background-color: #FFFFFF;
  padding: 10px 0;
  display: inline-block;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #52c4b9;
}

.logo {
  max-width: 200px
}

center {
  text-align: center;
}

main {
  padding-top: 125px;
}

.section.about {
  text-align: center;
}


/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 25px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 20px;
  }

  main {
    padding-top: 98px;
  }

  body {
    font-size: 18px;
  }

  #hero span {
    display: block;
  }


  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  [class*="col-"] {
    float: left;
    padding: 20px;
  }

  .col-md-6 {width: 50%;}

  #work {
    text-align: left;
  }

  #work h2 {
    text-align: center;
  }

  #about h3 {
    margin-top: 0;
  }

}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-5 {width: 41.66%;}
  .col-lg-7 {width: 58.33%;}


  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right:auto;
  }

}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}
