/*
Colors used:
Dark Green: 4f999c
Light Green: #89D1CA;
Blue: #587ca6;
dark grey: #3B3E3E;
*/

body{
  background-color: #ffffff;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.6
  color:#3B3E3E
}

h1, h2, h3 {
  line-height: 1.4;
}
h1{
  font-size: 2.75em;
  font-weight: 700;
}
h2{
  font-size: 1.75em;
  font-weight: 500;
}
h3{
  font-size: 1.35em;
  font-weight: 500
}
