/*
Colors used:
Dark Green: #4f999c
Light Green: #52c4b9;
Blue: #587ca6;
dark grey: #3B3E3E;
light grey: #f5fafa;
*/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFFFFF;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #3B3E3E;
}

h1, h2, h3 {
  line-height: 1.4;
}

h1 {
  font-size: 1.75em;
  font-weight: 700;
  color: #4f999c;
}

h2 {
  font-size: 1.4em;
  font-weight: 700;
  color: #52c4b9;
  text-align: center;
  margin: 1.5em;
}

h3 {
  font-size: 1.2em;
  font-weight: 500;
  color: #587ca6;
}

img {
  width: 100%;
}

header {
  background-color: #FFFFFF;
  padding: 10px 0;
  border-bottom: 3px solid #52c4b9;
  position: fixed;
  width: 100%;
  box-shadow: 6px 6px 10px 0px rgba(50, 50, 50, 0.25);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navtoggle li:not(:last-child) {
  display: none;
}

nav a {
  text-decoration: none;
  padding: 0 10px;
  margin: 0 3px;
}

nav a.active {
  font-weight: 500;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 20px;
}

.navtoggle.responsive li  {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #f5fafa;
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

footer {
  padding: 10px;
  margin-top: 20px;
  background-color: #4f999c;
  color: #FFFFFF;
  text-align: center;
}

footer h2 {
  color: #ffffff;
}

.copyright {
  font-size: 12px;
}

a {
  color: #4f999c;
}

a:visited {
  /* visited link */
  color: #4f999c;
}

a:hover,
a:focus {
  color: #587ca6;
  font-weight: 500;
}

a:active {
  /* selected link */
  color: #587ca6;
}

.button {
  display: inline-block;
  background-color: #4f999c;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 500;
  padding: 10px 30px;
  border-radius: 30px;
  border-bottom: 2px solid #4f999c;
  /* width of the border, type, color */
  transition: 0.2s opacity;
  text-decoration: none;
}

.button:visited {
  color: #ffffff;
  text-decoration: none;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.social {
  background-color: transparent;
  border: none
}

.button.contact {
  background-color: white;
  color: #4f999c;
  border: none;
  text-transform: uppercase;
  transition: .05s
}

.button.contact:hover {
  background-color: #52c4b9;
  color: #ffffff;
}

/*Layout Styling*/
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

.social .fab {
  font-size: 20px;
  color: #FFF;
  width: 2em;
  height: 2em;
  background: #4f999c;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10em;
  margin-top: 1em;
  border: 2px solid #FFF;
}

.social .fab:hover {
  color: #FFF;
  background: #587ca6;
}

.projects .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #52c4b9;
}

.projects .row:last-child {
  border-bottom: none;
}

.projects {
  text-align: center;
}

#about .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #52c4b9;
}

#about .row:last-child {
  border-bottom: none;
}

#about h1 {
  text-align: center
}

#about h2 {
  text-align: center;
}

#about .button {
  text-align: center;
}

.welcome h1 {
  text-align: center;
}

.welcome span {
  display: block;
  font-size: 80%;
  font-weight: 200;
}

.welcome h3 {
  color: #4f999c;
}

.welcome {
  background-color: #FFFFFF;
  padding: 10px 0;
  display: inline-block;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #52c4b9;
}

.logo {
  max-width: 150px
}

center {
  text-align: center;
}

main {
  padding-top: 90px;
}

.section.about {
  text-align: center;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(500px, 50px);
  }

  to {
    transform: translate(10px, 50px);
  }
}

.cloud-front {
  animation: 15s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(300px, 50px);
  }
}

.cloud-back {
  animation: 18s cloud-move-reverse infinite alternate linear;
}

.intro {
  text-align: center;
}

.intro span {
  display: block;
  font-size: 80%;
  font-weight: 200;
}

.develop .button {
  text-align: center;
  justify-content: center;
  margin: 2em;
}

/* ==============================
Medium devices (640px and larger)
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
================================= */
@media only screen and (min-width: 640px) {

  .logo {
    max-width: 200px
  }

  header {
    text-align: unset;
    padding: 25px 0 13px;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 5px 0;
    text-align: center;
  }

  nav ul li {
    display: inline-block;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 20px;
  }

  .navtoggle li:not(:last-child) {
  display: inline-block;
}

.navtoggle li:last-child {
  display: none;
}

  main {
    padding-top: 120px;
  }

  body {
    font-size: 20px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  [class*="col-"] {
    float: left;
    padding: 15px;
  }

 .col-md-4 {
   display: box;
   width: 33.33%;
 }

  .col-md-6 {
    width: 50%;
  }

  .projects {
    text-align: left;
  }

  .projects h2 {
    text-align: center;
  }

  #about h3 {
    margin-top: 0;
  }

  #about img {
    max-width: 400px;
    border-radius: 100em;
  }

  #about .float-none {
    float: none;
  }

  #about picture {
    display: block;
    text-align: center;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

  .col-lg-4 {width: 33.33%;}
  .col-lg-8 {width: 66.66%;}

  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  #about img {
    max-width: 100%;
    border-radius: 0;
  }

  #about .float-none {
    float: left;
  }

  #about picture {
    display: block;
    text-align: left;
  }

  #about .story h2 {
    margin-top: 0;
  }

  #about .row.story {
    margin: 80px 0;
    border-bottom: none;
  }

  main {
    padding-top: 150px;
  }

.define {
  padding-top: 50px;
}

.test .row {
  display: block;
}

/* Ask Carlo how to remove padding from this section of columns */
.overview .col-md-6 {
  padding: 0;
}

#lotus h2:after {
       position: absolute;
       content: "";
       height: 2px;
       background-color: #52c4b9;
       width: 30%;
       margin-left: 15px;
       top: 50%;
       }

}



/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}
